
header{
  background-image: url(B12A01-landing-launchpad/Assets/Hero-bg.png);
}

      /* ----------------------- Nav section---------------------- */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: inter;
    margin: 10px 150px;
}

nav h3{font-family: inter;
    font-size: 30px;
}

nav h3 a{
  text-decoration: none;
  border: none;
  color: #4E47FF;
}

nav ul{
    list-style: none;
}

nav ul button{
    background-color:#4E47FF;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}

nav ul button a{
  text-decoration: none;
  border: none;
  color: #FFFFFF;
}



nav ul button:hover{
        background-color: rgb(255, 215, 0);
        transition: 1s;}

      /* ----------------------- banner section---------------------- */
.banner{
    text-align: center;
    font-weight: bold;
    padding: 20px;

}

.banner h1{
   font-family: "Raleway", sans-serif;
    font-size: 65px;
    color: #252432;
}

.banner button{
    background-color: #4E47FF;
    font-size: 16px;
    padding: 10px 30px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}

.banner button a{
  text-decoration: none;
  border: none; 
  color: #FFFFFF;

}

.banner button:hover{
        background-color: rgb(255, 215, 0);
        transition: 1s;}

              /* ----------------------- body section---------------------- */
body {
    font-family: "Raleway", sans-serif;
    margin: 10px 10px;
    }
    

          /* ----------------------- action section---------------------- */
    .action-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 150px;
    }

    .action-left {
      flex: 1;
    }

    .action-left h2 {
      color:#252432;
      font-size: 28px;
      margin-bottom: 10px;
    }

    .action-left p {
      color: #252432;
      font-size: 16px;
      margin-bottom: 20px;
    }

    .action-left button {
      background-color: #5c4dff;
      color: white;
      padding: 12px 24px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
    }

      .action-left button a{
          text-decoration: none;
          border: none;
          color: #FFFFFF;

  }

    .action-left button:hover{
        background-color: rgb(255, 215, 0);
        transition: 1s;
  }

    .action-right {
      flex: 1;
      min-width: 300px;
      text-align: center;
    }

    .action-right img {
      border-radius: 20px;
      box-shadow: 20px rgba(0,0,0,0.1);
    }

          /* ----------------------- user section---------------------- */

    .user {
      background-color: #cdc5ea;
      color:#252432;
      padding: 60px 20px;
      text-align: center;
      border-radius: 20px;
      width: 1140px;
      margin: 20px auto;
}

      .user h2{
      
      font-family: "Raleway", sans-serif;
      color:#252432 ;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 30 px;
      }

      .user .box{
      display: flex;
      justify-content: center;
      gap: 160px;
      margin-left: 0px;
    }

     .user .box h3{
     font-family: inter;
      font-weight: bold;
      font-size: 50px;
      color: #4E47FF;
      margin top: 5px ;
    }

     .user .box p{
      color: #000000;
      font-weight: 500;
      margin-top: -10px;
      line-height: 0px;
     }


           /* ----------------------- feedback section---------------------- */
     .feedback h2{
      color:#252432 ; 
      text-align:center;
      font-weight:bold ;
      font-size: ;
    }


 .feedback .feedback-section{
  justify-content: center;
  display: flex;
  gap: 160px ;
  margin-right: 20px;
 }

 .feedback-child {
  display: flex;
  gap: 10px;
 }

 .feedback-child img{
  border-radius: 50%;
 }

 .feedback-child label{
border: none;
font-weight: bold;
 }

  .feedback-child input{
    color: #252432;
    border: none;
  }


         /* ----------------------- focus section---------------------- */
  .focus{
  margin-top: 150px;
  text-align: center;
  display: inline block;
  height: auto;
}

  .focus h2 {
      font-family: "Raleway", sans-serif;
      color: #000000;
      font-size: 50px;
  }

  .focus P {
      font-family: "Raleway", sans-serif;
      color: #000000;
  }

   .focus button{
        font-family: "Raleway", sans-serif;
        color: #FFFFFF;
        background-color: #4E47FF;
        border: none;
        padding: 10px 30px;
        border-radius: 10px;
}

.focus button a{
          text-decoration: none;
          border: none;
          color: #FFFFFF;

}

     .focus button:hover{
        background-color: rgb(255, 215, 0);
        transition: 1s;
}

   .focus img{
    line-height: 20px;
    border-radius: 20px;
   }


     /* ----------------------- touch section---------------------- */ 

   .Touch{
    background-color: #f1f7f7;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
   }

   .Touch .Left-Side{
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      font-size: 50px;
   }

     .Touch .Right-Side{
      line-height:2rem;
     }

      .Touch .Right-Side input{
        background-color: #FFFFFF;
        border: none;
        text-decoration: none;
        padding: 20px;
        width: 300px;

      }

      .Touch .Right-Side .message-section{
        background-color: #FFFFFF;
        padding: 20px;
        height: 80px;
        width: 300px;

      }

      .Touch .Right-Side button{
        font-size: 20px;
        font-weight: bo;
        margin-top: 20px;
        background-color: #4E47FF;
        border: none;
        width: 370px;
        padding: 20px;
        border-radius: 20px;
      }

      .Touch .Right-Side button a{
          font-family: "Raleway", sans-serif;  
          text-decoration: none;
          border: none;
          color: #FFFFFF;

      }

       .Touch .Right-Side button:hover{
        background-color: rgb(255, 215, 0);
        transition: 1s;}

      /* ----------------------- footer section---------------------- */
        
        footer{
          font-family: inter;
          text-align: center;
          text-decoration: none;
          list-style: none;
        }

   footer h1{
    font-size: 100px;
   }

   footer h1 a{
          text-decoration: none;
          border: none;
          color:  #4E47FF;

   }

   footer{
    color: #8987A1;
   }


         footer .menu{
          display: flex;
          justify-content: center;
          padding: 10px;
          gap: 30px;
        }

        footer .menu a{
          text-decoration: none;
          border: none;
          color: none;
          color:#8987A1;

        }


        
      /* ----------------------- end---------------------- */